<section class="topic-page">
  <div class="container">
    
    {{!-- Page Header  --}}
    <header class="page-header fade-in-up">
      <div>     
        <h1>
          {{topic.name}}
          {{#if topic.internal}}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
              <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
              <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
            </svg>
          {{/if}}
        </h1>
        {{#if topic.description}}
          <p class="page-header-description fade-in-up">{{topic.description}}</p>
        {{/if}}
      </div>
      {{#if settings.show_follow_topic}}
        <div class="community-follow">
          {{subscribe}}
        </div>
      {{/if}}
    </header>

    <div class="topic-header fade-in-up">
      <span class="topic-filters">
        <span class="dropdown">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_filter.label}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </button>
          <span class="dropdown-menu" role="menu">
            {{#each filters}}
              <a href="{{url}}" aria-checked="{{selected}}" role="menuitemradio">
                {{name}}
              </a>
            {{/each}}
          </span>
        </span>
        <span class="dropdown">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_sorter.label}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </button>
          <span class="dropdown-menu" role="menu">
            {{#each sorters}}
              <a href="{{url}}" aria-checked="{{selected}}" role="menuitemradio">
                {{name}}
              </a>
            {{/each}}
          </span>
        </span>
      </span>
      <span class="post-to-community">
        {{link 'new_post' topic_id=topic.id class='button button-primary'}}
      </span>
    </div>

    {{!-- Main Content  --}}
    <div id="main-content" class="posts-list striped-list">
      {{#each posts}}
        <section class="posts-item fade-in-up" role="region" aria-labelledby="title-{{id}}">
          <div class="striped-list-item {{#if featured}}post-featured{{/if}}">
            <div class="striped-list-item-top">
              <div>
                <img src="{{author.avatar_url}}" alt="avatar">
                {{#if editor}}
                  <span class="meta-data">{{date edited_at timeago=true}}</span>
                  <span class="meta-data">{{t 'edited'}}</span>
                {{else}}
                  <span class="meta-data">{{date created_at timeago=true}}</span>
                {{/if}}
              </div>
              <span class="post-overview-item">
                {{#if pinned}}
                  <span class="status-label status-label-pinned">{{t 'pinned'}}</span>
                {{/if}}

                {{#if featured}}
                  <span class="status-label status-label-featured">{{t 'featured'}}</span>
                {{/if}}

                {{#is status 'none'}}
                {{else}}
                  <span class="status-label-{{status_dasherized}} status-label striped-list-status">{{status_name}}</span>
                {{/is}}
              </span>
            </div>
            <h6>
              <a href="{{url}}" id="title-{{id}}" class="striped-list-title">{{title}}</a>
            </h6>
            <div class="striped-list-item-body">{{details}}</div>

            <div class="post-overview-count striped-list-count">
              <span class="striped-list-count-item">
                <span class="striped-list-number">{{vote_sum}}</span>
                {{t 'vote' count=vote_sum}}
              </span>
              <span class="striped-list-count-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 16 13" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.856445 4.82603V12.0276L4.9895 10.1076H11.535C13.7622 10.1076 15.5745 8.29532 15.5745 6.06818V4.82603C15.5745 2.5989 13.7617 0.786621 11.5341 0.786621H4.89586C2.66872 0.786621 0.856445 2.5989 0.856445 4.82603ZM6.04921 5.61402C6.04921 5.14094 5.66589 4.75762 5.19281 4.75762C4.71972 4.75762 4.3364 5.14094 4.3364 5.61402C4.3364 6.08711 4.71972 6.47043 5.19281 6.47043C5.66589 6.47043 6.04921 6.08711 6.04921 5.61402ZM8.21472 4.75762C8.68781 4.75762 9.07113 5.14094 9.07113 5.61402C9.07113 6.08711 8.68781 6.47043 8.21472 6.47043C7.74164 6.47043 7.35832 6.08711 7.35832 5.61402C7.35832 5.14094 7.74164 4.75762 8.21472 4.75762ZM12.094 5.61402C12.094 5.14094 11.7107 4.75762 11.2376 4.75762C10.7645 4.75762 10.3812 5.14094 10.3812 5.61402C10.3812 6.08711 10.7645 6.47043 11.2376 6.47043C11.7107 6.47043 12.094 6.08711 12.094 5.61402Z" fill="#B9E97D"/>
                </svg>
                <span class="striped-list-number">{{comment_count}}</span>
              </span>
            </div>
          </div>
        </section>
      {{/each}}
    </div>
    {{pagination}}
  </div>

  <section class="container community-footer">
    <p class="community-footer-title fade-in-up">{{t 'suggest_new_post'}}</p>
    <div class="fade-in-up">
      {{link 'new_post' topic_id=topic.id class='button button-primary'}}
    </div>
  </section>
</section>

