{{!-- Top Banner Section --}}
<section id="main-content" class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero-text fade-in-up">{{settings.hero_heading}}</h1>
      {{#if settings.show_hero_text}}
        <p class="p-large fade-in-up">{{settings.hero_text}}</p>
      {{/if}}
      <div class="hero-inner fade-in-up">
        <h2 class="visibility-hidden">{{ t 'search' }}</h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
          class="search-icon" aria-hidden="true">
          <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
          <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
        </svg>
        {{search instant=settings.instant_search class='search search-full'}}
      </div>
      <div class="popular-keywords fade-in-up" data-keywords="{{settings.popular_keywords}}">
        <p>{{settings.popular_keywords_description}}</p>
      </div>
    </div>
  </div>
  <img src="{{asset 'hero_bg.png'}}" alt="background">
</section>

{{!-- Introduction Section --}}
<section class="introduction">
  <div class="introduction__items container">
    <div class="introduction__item fade-in-up">
      <div>
        <img src="{{settings.introduction_img1}}" alt="icon">
      </div>
      <h4><a href="{{settings.introduction_link1}}">{{settings.introduction_heading1}}</a></h4>
      <p>{{settings.introduction_subtitle1}}</p>
    </div>
    <div class="introduction__item fade-in-up">
      <div>
        <img src="{{settings.introduction_img2}}" alt="icon">
      </div>
      <h4><a href="tel:{{settings.introduction_link2}}">{{settings.introduction_heading2}}</a></h4>
      <p>{{settings.introduction_subtitle2}}</p>
    </div>
    <div class="introduction__item fade-in-up">
      <div>
        <img src="{{settings.introduction_img3}}" alt="icon">
      </div>
      <h4><a href="{{settings.introduction_link3}}">{{settings.introduction_heading3}}</a></h4>
      <p>{{settings.introduction_subtitle3}}</p>
    </div>
  </div>
</section>

{{!-- Find Solution Section --}}
{{#if settings.show_find_solution_section}}
<section class="find-solution section">
  <div class="container">
    <h2>{{settings.find_solution_heading}}</h2>
    <p>{{settings.find_solution_subtitle}}</p>
    <div class="find-solution__items">
      <div class="find-solution__item fade-in-up">
        <h4><a href="{{settings.find_solution_item1_link}}">{{settings.find_solution_item1_heading}}</a></h4>
        <p class="p-small">{{settings.find_solution_item1_text}}</p>
        <div>
          <a href="{{settings.find_solution_item1_link}}"></a>
          {{settings.find_solution_item1_link_text}}
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
              <path d="M1.5 5H10.5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
        </div>
      </div>
      <div class="find-solution__item fade-in-up">
        <h4><a href="{{settings.find_solution_item2_link}}">{{settings.find_solution_item2_heading}}</a></h4>
        <p class="p-small">{{settings.find_solution_item2_text}}</p>
        <div>
          <a href="{{settings.find_solution_item2_link}}"></a>
          {{settings.find_solution_item2_link_text}}
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
              <path d="M1.5 5H10.5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
{{/if}}

{{!-- Recent Videos Section --}}
{{#if settings.show_fifth_section}}
<section class="videos section">
  <div class="container">
    <div class="videos__head">
      <div>
        <h2 class="fade-in-up">{{settings.fifth_section_heading}}</h2>
        
      </div>
      <div class="fade-in-up">
        <a class="button button-primary" href="{{settings.fifth_section_button_link}}" target="_blank" rel="noreferrer noopener">{{settings.fifth_section_button}}</a>
      </div>
    </div>
    <div class="videos__items">
      <div class="videos__item fade-in-up">
        <div class="videos__img">
          <img src="{{settings.videos_img1}}" alt="Video Thumbnail" data-video-src="{{settings.videos_link1}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="62" height="61" viewBox="0 0 62 61" fill="none">
            <circle cx="30.9998" cy="30.5877" r="30.295" fill="#C1E8EE"/>
            <path d="M41.9405 29.3651C42.8817 29.9085 42.8817 31.2669 41.9405 31.8103L26.5884 40.6738C25.6473 41.2172 24.4708 40.538 24.4708 39.4512L24.4708 21.7242C24.4708 20.6374 25.6473 19.9582 26.5884 20.5016L41.9405 29.3651Z" fill="#29335C"/>
          </svg>
        </div>
        <h4>{{settings.videos_heading1}}</h4>
        <p>{{settings.videos_subtitle1}}</p>
      </div>
      <div class="videos__item fade-in-up">
        <div class="videos__img">
          <img src="{{settings.videos_img2}}" alt="Video Thumbnail" data-video-src="{{settings.videos_link2}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="62" height="61" viewBox="0 0 62 61" fill="none">
            <circle cx="30.9998" cy="30.5877" r="30.295" fill="#C1E8EE"/>
            <path d="M41.9405 29.3651C42.8817 29.9085 42.8817 31.2669 41.9405 31.8103L26.5884 40.6738C25.6473 41.2172 24.4708 40.538 24.4708 39.4512L24.4708 21.7242C24.4708 20.6374 25.6473 19.9582 26.5884 20.5016L41.9405 29.3651Z" fill="#29335C"/>
          </svg>
        </div>
        <h4>{{settings.videos_heading2}}</h4>
        <p>{{settings.videos_subtitle2}}</p>
      </div>
      <div class="videos__item fade-in-up">
        <div class="videos__img">
          <img src="{{settings.videos_img3}}" alt="Video Thumbnail" data-video-src="{{settings.videos_link3}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="62" height="61" viewBox="0 0 62 61" fill="none">
            <circle cx="30.9998" cy="30.5877" r="30.295" fill="#C1E8EE"/>
            <path d="M41.9405 29.3651C42.8817 29.9085 42.8817 31.2669 41.9405 31.8103L26.5884 40.6738C25.6473 41.2172 24.4708 40.538 24.4708 39.4512L24.4708 21.7242C24.4708 20.6374 25.6473 19.9582 26.5884 20.5016L41.9405 29.3651Z" fill="#29335C"/>
          </svg>
        </div>
        <h4>{{settings.videos_heading3}}</h4>
        <p>{{settings.videos_subtitle3}}</p>
      </div>
    </div>
  </div>
  
  {{!-- Modal window --}}
  <div class="video-modal">
    <span class="close">×</span>
    <iframe width="640" height="360" src="" frameborder="0" allowfullscreen></iframe>
  </div>
</section>
{{/if}}

{{!-- Recent activity --}}
{{#if help_center.community_enabled}}
  <section class="homepage-activity activity section">
    <div class="container fade-in-up">
      {{recent_activity scope='community'}}
    </div>
  </section>
{{/if}}

{{!-- Promoted Articles --}}
{{#if settings.show_fourth_section}}
  {{#if promoted_articles}}
    <section class="promoted-articles">
      <div class="lines">
        <div></div>
      </div>
      <div class="container section">
        <div class="promoted-articles__head">
          <h2 class="fade-in-up">{{settings.fourth_section_heading}}</h2>
          <div class="fade-in-up">
            <a class="button button-primary" href="{{settings.fourth_section_button_link}}">{{settings.fourth_section_button}}</a>
          </div>
        </div>
        <div class="promoted-articles__items">
          {{#each promoted_articles}}
            <div class="promoted-articles__item fade-in-up">
              <a href="{{url}}">{{title}}</a>
            </div>
          {{/each}}
        </div>
      </div>

    </section>
  {{/if}}
{{/if}}

{{!-- FAQ Section --}}
{{#if settings.show_faq}}
<section class="faq section">
  <div class="container">
    <h2 class="fade-in-up">{{settings.faq_heading}}</h2>
    <p>{{settings.faq_subtitle}}</p>
    <div class="faq__items">
        <div class="faq__item open fade-in-up">
          <div>
            <h6>{{settings.faq_item1_heading}}</h6>
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                <path d="M1.5 5L10.5 5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </div>
          <p>{{settings.faq_item1_text}}</p>
        </div>
        <div class="faq__item fade-in-up">
          <div>
            <h6>{{settings.faq_item2_heading}}</h6>
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                <path d="M1.5 5L10.5 5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </div>
          <p>{{settings.faq_item2_text}}</p>
        </div>
        <div class="faq__item fade-in-up">
          <div>
            <h6>{{settings.faq_item3_heading}}</h6>
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                <path d="M1.5 5L10.5 5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </div>
          <p>{{settings.faq_item3_text}}</p>
        </div>
        <div class="faq__item fade-in-up">
          <div>
            <h6>{{settings.faq_item4_heading}}</h6>
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                <path d="M1.5 5L10.5 5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </div>
          <p>{{settings.faq_item4_text}}</p>
        </div>
        {{#if settings.show_faq_item5}}
          <div class="faq__item fade-in-up">
            <div>
              <h6>{{settings.faq_item5_heading}}</h6>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                  <path d="M1.5 5L10.5 5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <p>{{settings.faq_item5_text}}</p>
          </div>
        {{/if}}
        {{#if settings.show_faq_item6}}
          <div class="faq__item fade-in-up">
            <div>
              <h6>{{settings.faq_item6_heading}}</h6>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                  <path d="M1.5 5L10.5 5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <p>{{settings.faq_item6_text}}</p>
          </div>
        {{/if}}
        {{#if settings.show_faq_item7}}
          <div class="faq__item fade-in-up">
            <div>
              <h6>{{settings.faq_item7_heading}}</h6>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                  <path d="M1.5 5L10.5 5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <p>{{settings.faq_item7_text}}</p>
          </div>
        {{/if}}
        {{#if settings.show_faq_item8}}
          <div class="faq__item fade-in-up">
            <div>
              <h6>{{settings.faq_item8_heading}}</h6>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                  <path d="M1.5 5L10.5 5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <p>{{settings.faq_item8_text}}</p>
          </div>
        {{/if}}
    </div>
  </div>
</section>
{{/if}}
