{{!-- Top Banner Section --}}
<section id="main-content" class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero-text fade-in-up">{{settings.hero_heading}}</h1>
      {{#if settings.show_hero_text}}
        <p class="p-large fade-in-up">{{settings.hero_text}}</p>
      {{/if}}
      <div class="hero-inner fade-in-up">
        <h2 class="visibility-hidden">{{ t 'search' }}</h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
          class="search-icon" aria-hidden="true">
          <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
          <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
        </svg>
        {{search instant=settings.instant_search class='search search-full'}}
      </div>
      <div class="popular-keywords fade-in-up" data-keywords="{{settings.popular_keywords}}">
        <p>{{settings.popular_keywords_description}}</p>
      </div>
    </div>
  </div>
  <img src="{{asset 'hero_bg.png'}}" alt="background">
</section>

{{!-- Introduction Section --}}
<div class="introduction">
  <div class="introduction__items container">
    <div class="introduction__item fade-in-up">
      <div>
        <img src="{{settings.introduction_img1}}" alt="icon">
      </div>
      <h4><a href="{{settings.introduction_link1}}">{{settings.introduction_heading1}}</a></h4>
      <p>{{settings.introduction_subtitle1}}</p>
    </div>
    <div class="introduction__item fade-in-up">
      <div>
        <img src="{{settings.introduction_img2}}" alt="icon">
      </div>
      <h4><a href="tel:{{settings.introduction_link2}}">{{settings.introduction_heading2}}</a></h4>
      <p>{{settings.introduction_subtitle2}}</p>
    </div>
    <div class="introduction__item fade-in-up">
      <div>
        <img src="{{settings.introduction_img3}}" alt="icon">
      </div>
      <h4><a href="{{settings.introduction_link3}}">{{settings.introduction_heading3}}</a></h4>
      <p>{{settings.introduction_subtitle3}}</p>
    </div>
  </div>
</div>

{{!-- Find Solution Section --}}
<section class="find-solution">
  <div class="lines">
    <div></div>
  </div>
  <div class="container section">
    {{#if settings.show_second_section_info}}
      <div class="find-solution__information fade-in-up">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <g clip-path="url(#clip0_3307_1195)">
              <path d="M12 0C5.40891 0 0 5.40891 0 12C0 18.5911 5.40891 24 12 24C18.5911 24 24 18.5911 24 12C24 5.40891 18.5911 0 12 0ZM13.4062 17.625C13.4062 18.4002 12.7752 19.0312 12 19.0312C11.2248 19.0312 10.5938 18.4002 10.5938 17.625V10.5938C10.5938 9.81853 11.2248 9.1875 12 9.1875C12.7752 9.1875 13.4062 9.81853 13.4062 10.5938V17.625ZM12 7.78125C11.2248 7.78125 10.5938 7.15022 10.5938 6.375C10.5938 5.59978 11.2248 4.96875 12 4.96875C12.7752 4.96875 13.4062 5.59978 13.4062 6.375C13.4062 7.15022 12.7752 7.78125 12 7.78125Z" fill="#4537E6"/>
            </g>
            <defs>
              <clipPath id="clip0_3307_1195">
                <rect width="24" height="24" fill="white"/>
              </clipPath>
            </defs>
          </svg>
          <p>{{settings.second_section_info_heading}}</p>
        </div>
        <p class="p-small">{{settings.second_section_info_subtitle}}</p>
      </div>
    {{/if}}
    <div class="find-solution__items">
      <div class="find-solution__item fade-in-up">
        <img src="{{settings.second_section_item1_img}}" alt="image">
        <a href="{{settings.second_section_item1_link}}"><h5>{{settings.second_section_item1_heading}}</h5></a>
        <p>{{settings.second_section_item1_subtitle}}</p>
      </div>
      <div class="find-solution__item fade-in-up">
        <img src="{{settings.second_section_item2_img}}" alt="image">
        <a href="{{settings.second_section_item2_link}}"><h5>{{settings.second_section_item2_heading}}</h5></a>
        <p>{{settings.second_section_item2_subtitle}}</p>
      </div>
      <div class="find-solution__item fade-in-up">
        <img src="{{settings.second_section_item3_img}}" alt="image">
        <a href="{{settings.second_section_item3_link}}"><h5>{{settings.second_section_item3_heading}}</h5></a>
        <p>{{settings.second_section_item3_subtitle}}</p>
      </div>

    </div>
  </div>
</section>

{{!-- Categories Section --}}
<section class="categories">
  <div class="container">
    <div class="categories__items">
      {{#each categories}}
        <div class="categories__item fade-in-up">
          <h4>{{name}}</h4>
          {{#if description}}
            <p class="p-small">{{description}}</p>
          {{/if}}
          <a href="{{url}}">
            {{t 'see_all_sections'}}
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0L6.6 1.4L12.2 7H0V9H12.2L6.6 14.6L8 16L16 8L8 0Z" fill="white"/>
            </svg>
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</section>

{{!-- Recent activity --}}
{{#if help_center.community_enabled}}
  <section class="homepage-activity activity section">
    <div class="container fade-in-up">
      {{recent_activity scope='community'}}
    </div>
  </section>
{{/if}}

{{!-- Promoted Articles --}}
{{#if settings.show_fourth_section}}
  {{#if promoted_articles}}
    <section class="promoted-articles">
      <div class="lines">
        <div></div>
      </div>
      <div class="container section">
        <div class="promoted-articles__head">
          <h2 class="fade-in-up">{{settings.fourth_section_heading}}</h2>
          <div class="fade-in-up">
            <a class="button button-primary" href="{{settings.fourth_section_button_link}}">{{settings.fourth_section_button}}</a>
          </div>
        </div>
        <div class="promoted-articles__items">
          {{#each promoted_articles}}
            <div class="promoted-articles__item fade-in-up">
              <a href="{{url}}">{{title}}</a>
            </div>
          {{/each}}
        </div>
      </div>

    </section>
  {{/if}}
{{/if}}

{{!-- FAQ Section --}}
{{#if settings.show_faq}}
<section class="faq section">
  <div class="container">
    <h2 class="fade-in-up">{{settings.faq_heading}}</h2>
    <p>{{settings.faq_subtitle}}</p>
    <div class="faq__items">
        <div class="faq__item open fade-in-up">
          <div>
            <h6>{{settings.faq_item1_heading}}</h6>
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                <path d="M1.5 5L10.5 5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </div>
          <p>{{settings.faq_item1_text}}</p>
        </div>
        <div class="faq__item fade-in-up">
          <div>
            <h6>{{settings.faq_item2_heading}}</h6>
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                <path d="M1.5 5L10.5 5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </div>
          <p>{{settings.faq_item2_text}}</p>
        </div>
        <div class="faq__item fade-in-up">
          <div>
            <h6>{{settings.faq_item3_heading}}</h6>
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                <path d="M1.5 5L10.5 5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </div>
          <p>{{settings.faq_item3_text}}</p>
        </div>
        <div class="faq__item fade-in-up">
          <div>
            <h6>{{settings.faq_item4_heading}}</h6>
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                <path d="M1.5 5L10.5 5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </div>
          <p>{{settings.faq_item4_text}}</p>
        </div>
        {{#if settings.show_faq_item5}}
          <div class="faq__item fade-in-up">
            <div>
              <h6>{{settings.faq_item5_heading}}</h6>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                  <path d="M1.5 5L10.5 5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <p>{{settings.faq_item5_text}}</p>
          </div>
        {{/if}}
        {{#if settings.show_faq_item6}}
          <div class="faq__item fade-in-up">
            <div>
              <h6>{{settings.faq_item6_heading}}</h6>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                  <path d="M1.5 5L10.5 5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <p>{{settings.faq_item6_text}}</p>
          </div>
        {{/if}}
        {{#if settings.show_faq_item7}}
          <div class="faq__item fade-in-up">
            <div>
              <h6>{{settings.faq_item7_heading}}</h6>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                  <path d="M1.5 5L10.5 5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <p>{{settings.faq_item7_text}}</p>
          </div>
        {{/if}}
        {{#if settings.show_faq_item8}}
          <div class="faq__item fade-in-up">
            <div>
              <h6>{{settings.faq_item8_heading}}</h6>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                  <path d="M1.5 5L10.5 5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <p>{{settings.faq_item8_text}}</p>
          </div>
        {{/if}}
    </div>
  </div>
</section>
{{/if}}
